*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
    /* height: 100px; */
}


.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}


/* ------------------------ */
.card
{
    height: 60vh;
    /* width: 50%; */
    width: 40%;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    
}

img{
    width: 100%;
    height: 100%;
}
.photo{
    border-left: 2px solid #E5E8E9;
    padding-left: 10px;
}

.infos{
    height: 50%;
}
.element{
    height: 500px;
    border: solid 1px #E5E8E9;
    width:100px ;
}


.info{
    padding-right: 10px;
}

.row .label{
    font-size: 2rem;
    font-weight: 900;
}

.row .data{
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.form{
    position: absolute;
    padding: 10px;
    top: 0;
    left:100% ;
    width: 300px;
    background-color: #27566B;
    display: none;
    /* width: 100px;
    height: 100px; */
    background-color: #06293D;
}
.form-group{
    margin-bottom: 10px;
}

.from-control{
    width: 250px;
    padding: 10px;
    text-align: center;
}

.form-group label{
    font-size: 1.20rem;
}

input.from-control{
    font-size: 1.5rem;
    border-radius: 5px;
    border: #799eb0;
    outline: none;
}

select{
    outline: none;
    border-radius: 5px;
}

.form button{
    width: 100%;
    background-color: #06293D;
    color: #E5E8E9;
    outline: none;
    border: 1px solid #799eb0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.next{
    padding: 5px 20px;
    font-size: 1.09rem;
    margin-top: 10px;
    background-color: #27566B;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #E5E8E9;
}
.erreur
{
    width: 100%;
    height: 100px;
    color: red;
    font-size: 1.2rem;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    background-color: #799eb0;
}
tr,td{
    text-align: center;
    line-height: 30px;
}

.form.hide{
    display: none;
}

/* les autres */
.transactions
{
    max-height: 160px;
}
.content
{
  max-height: 100%;
  overflow-y: scroll;
}
.spinner
{
    width: 100%;
    height: 100%;
    background-color: #06293D; 
    position: absolute;
    /* display: none; */
    top: 0;
    left: 0;
}

.notif
{
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: #06293D;
    display: none;
    animation: 1s anim ease-in infinite;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    font-weight: bold;
    /* transform: translateX(50%);
    transition: transform 5000ms linear */
    animation: anim 5s linear infinite ;
}
body
{
    position: relative;
}

@keyframes anim {
    0%{
        transform: translateX(100%);
    }
    20%{
        transform: translateX(50%);
    }
    30%{
        transform: translateX(50%);
    }
    40%{
        transform: translateX(50%);
    }
    60%{
        transform: translateX(50%);
    }
    70%{
        transform: translateX(50%);
    }
    80%{
        transform: translateX(50%);
    }
    90%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
    
}
.input-num
{
    width:280px;
    height: auto;
    background-color: #27566B;
   position: relative;
   top:0;
   left: 0;
   transform: translate(0,-16px );
   display: none;
  color: white;
}
li
{
    list-style:none;
    cursor: pointer;
}
.input-num li:hover
{
    background :#06293D;
}
.recherche
{
    width: 100%;
    height: auto;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    /* position: relative; */
    position: absolute;
   top:0;
   left: 0;
   transform: translate(0, -70%);
}
#search
{
    outline: none;
    cursor: pointer;
    height: 35px;
    margin-bottom: 10px;
    width: 50%;
    background: transparent;
    border: 1px solid #06293D;
    border-radius: 20px;
    font-size: 17px;
}
.input-search
{
    width:50%;
    height: auto;
    /* background-color: #06293D; */
    padding-top: 20px;
    background-color: #06293D;
    position: absolute;
    top:0;
    left: 0;
    transform: translate(-100%, 0);
    display: none;
    border: solid 1px white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.input-search li:hover
{
    background-color:#00d4ff;
}
.fermer-form, .fermer-recherche
{
   width: 30px;
   height: 30px;
   background: transparent;
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   font-weight: 900;
   font-size: 1.2em;
   border: solid 1px #27566B;
}
.fermer-form:hover, .fermer-recherche:hover 
{
    background: red;
    border-radius: 10px;
}
.add-user
{
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 900;
    color: #06293D;
    cursor: pointer;
}
.add-user:hover, button:hover
{
    background: #06293D;
    color: white;
}

.modal-add-user
{
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    /* background: #00d4ff; */
}
.modal-header, .modal-footer
{
    height: 15%;
    gap: 20px;
    background: linear-gradient(90deg, #1a1919f7 3%, #1609796b 100%, #00d4ff 100%);
}
.modal-body
{
    height: 70%;
    background: linear-gradient(90deg, #0d0b0bf7 3%, #304b5176 100%,  #00d4ff 100%);
}

button
{
    width: 140px ;
    height: 40px;
    border-radius: 20px;
   font-size: 1.4em;
}
.form-user
{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-user label
{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
.form-user input
{
    width: 50%;
    outline: none;
    height: 30px;
    font-size: 1.2em;
}

