*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
    /* height: 100px; */
}


.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}


/* ------------------------ */
.card{
    height: 60vh;
    /* width: 50%; */
    width: 40%;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    
}

img{
    width: 100%;
    height: 100%;
}
.photo{
    border-left: 2px solid #E5E8E9;
    padding-left: 10px;
}

.infos{
    height: 50%;
}
.element{
    height: 500px;
    border: solid 1px #E5E8E9;
    width:100px ;
}

.info{
    padding-right: 10px;
}

.row .label{
    font-size: 2rem;
    font-weight: 900;
}

.row .data{
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.form{
    position: absolute;
    padding: 10px;
    top: 0;
    left:100% ;
    width: 300px;
    background-color: #27566B;
    display: none;
    /* width: 100px;
    height: 100px; */
    background-color: #06293D;
}
.form-group{
    margin-bottom: 10px;
}

.from-control{
    width: 250px;
    padding: 10px;
    text-align: center;
}

.form-group label{
    font-size: 1.20rem;
}

input.from-control{
    font-size: 1.5rem;
    border-radius: 5px;
    border: #799eb0;
    outline: none;
}

select{
    outline: none;
    border-radius: 5px;
}

.form button{
    width: 100%;
    background-color: #06293D;
    color: #E5E8E9;
    outline: none;
    border: 1px solid #799eb0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.next{
    padding: 5px 20px;
    font-size: 1.09rem;
    margin-top: 10px;
    background-color: #27566B;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #E5E8E9;
}
.erreur
{
    width: 100%;
    height: 100px;
    color: red;
    font-size: 1.2rem;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    background-color: #799eb0;
}
tr,td{
    text-align: center;
    line-height: 30px;
}

.form.hide{
    display: none;
}

/* les autres */
.transactions
{
    max-height: 160px;
}
.content
{
  max-height: 100%;
  overflow-y: scroll;
}
.spinner
{
    width: 100%;
    height: 100%;
    background-color: #06293D; 
    position: absolute;
    /* display: none; */
    top: 0;
    left: 0;
}

.notif
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 30%;
    background: red;
    display: none;
    animation: 1s anim ease-in infinite;
}
body
{
    position: relative;
}

@keyframes anim {
    to{
        transform: translateY(100%);
    }
    from{
        transform: translateY(0);
    }
    
}
.input-num
{
    width:300px;
    height: auto;
    background-color: #06293D;
   position: relative;
   top:0;
   left: 0;
   transform: translate(-10px,-16px );
   display: none;
  color: white;
}
li
{
    list-style:none;
    cursor: pointer;
}

